//Mixins
@use "sass:math";

//functions for responsive mixins
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints)==null, '', '#{$name}');
}


// ------------------
// Responsive mixins
// -------------------
@mixin media-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {

    @media (min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $current: map-get($breakpoints, $name);
  $current-max: $current - .02px;

  @if $min {

    @media (max-width: $current-max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);
  $current-upper: map-get($breakpoints, $upper);
  $current-upper-max: $current-upper - .02px;

  @if $min !=null {

    @media (min-width: $min) and (max-width: $current-upper-max) {
      @content;
    }
  }

  @else if $min==null {

    @include media-down($upper, $breakpoints) {
      @content;
    }
  }
}

//mixin screen sizes breakpoints
$grid-breakpoints: ("xs": 576px,
  "s": 768px,
  "m":992px,
  "l":1024px,
  "xl": 1280px,
);

//Reset
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
i,
ul,
li,
form,
label,
article,
canvas,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

article,
footer,
header,
main,
nav,
section {
  display: block;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

input {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

img {
  max-width: 100%;
}

a {
  color: initial;
  text-decoration: none;
}

select {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

//Fonts
@font-face {
  font-family: 'Nanum Regular';
  src: url(../fonts/NanumMyeongjo-Regular.woff2);
}

@font-face {
  font-family: 'Nanum Bold';
  src: url(../fonts/NanumMyeongjo-Bold.woff2);
}

@font-face {
  font-family: 'Nanum Extra Bold';
  src: url(../fonts/NanumMyeongjo-ExtraBold.woff2);
}

// @font-face {
//   font-family: "Courgette Regular";
//   src: url(../fonts/Courgette-Regular.woff);
// }

// @font-face {
//   font-family: "Freeman Regular";
//   src: url(../fonts/Freeman-Regular.woff2);
// }

//Variables
$color-black:#000;
$color-white:#fff;
$color-light-gray:#c7c7c7;
$color-gray:#757575;
$color-red:#d90429;

$nanum-regular:"Nanum Regular";
$nanum-bold:"Nanum Bold";
$nanum-extra-bold:"Nanum Extra Bold";
// $courgette-regular:"Courgette Regular";
// $freeman-regular:"Freeman regular";

//SCSS Styles
//Header
header {
  display: flex;
  padding: 10px 30px;
  background-color: $color-black;
  justify-content: space-between;
  align-items: center;

  nav {
    a {
      color: $color-white;
      font-family: $nanum-regular;
      text-transform: uppercase;
      margin: 0 15px;
    }
  }
}

//Main
main {
  .hero-shot {
    background-image: url(../images/hero-shot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 45px);
    background-position: center;
    position: relative;

    .hero-overlay {
      background-color: $color-black;
      opacity: 0.75;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .reserve-table {
    padding: 30px 0;
    width: 100%;

    h3 {
      font-family: $nanum-extra-bold;
      font-size: 20px;
      text-transform: uppercase;
      tab-size: 4;
      letter-spacing: 0.75px;
      margin: 10px auto;
      text-align: center;

      &:after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        border-radius: 30px;
        background-color: $color-red;
        margin: 5px auto;

      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      background-color: $color-black;
    }

    .input-pair {
      width: 50%;
      padding: 15px;
      color: $color-white;
      background-color: $color-black;
      display: flex;
      justify-content: center;


      input {
        color: $color-white;
        font-family: $nanum-bold;

      }


      &.pair-short {
        display: flex;
        align-items: center;
      }

      input[type="text"] {
        max-width: 300px;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid $color-white;
        caret-color: $color-red;

        &::placeholder {
          color: $color-white;
          font-size: 14px;
          line-height: 20px;
        }

        &:focus-within {
          border-bottom: 1px solid $color-red;
        }
      }

      input[type="date"] {
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
      }

      input[type="range"] {
        width: 150px;
        background-color: $color-white;
        border-radius: 10px;


      }
    }

    input[type="submit"] {
      background-color: $color-red;
      color: $color-white;
      cursor: pointer;
      text-transform: uppercase;
    }

    .submit {
      padding: 5px 30px;
      border-radius: 10px;
      margin: 10px auto;
    }
  }

  //Students Navbar
  .student-menu-navbar {
    max-width: 80%;
    margin: 15px auto 50px;
    display: flex;
    justify-content: space-between;


    span {
      cursor: pointer;
      font-family: $nanum-extra-bold;
      font-size: 18px;
      color: $color-black;
      text-transform: uppercase;
      padding: 0 15px;

      &:hover {
        color: $color-red;
        text-decoration: underline;
      }
    }
  }

  .student-menu {
    height: 0;
    overflow: hidden;
  }

  .js-student-menu {
    max-height: 100%;
    height: auto;

  }

  .ilija {
    .products-menu {
      background-color: $color-light-gray;


      .section-title p {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-family: $nanum-regular;
        color: $color-black;
        font-weight: bolder;
        padding: 0;
        margin: 0;
      }

      .menu-container {
        display: flex;
        flex-wrap: wrap;


        img {
          width: 70px;
          border-radius: 50%;
          float: left;
          border: 2px solid;
        }

        a {
          padding-right: 10px;
          position: relative;
          font-weight: 700;
          color: $color-black;

        }

        span {
          background: $color-black;
          position: relative;
          padding: 0 10px;
          font-weight: 600;
          color: #cda45e;
        }

        .menu-item {
          color: $color-red;
          padding: 0 200px;
          margin: 50px 0px;
          width: 50%;
          font-family: $nanum-bold;
        }
      }



    }
  }

  .elena {
    .allFoodContainer {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      padding-bottom: 50px;

      .food-container {
        width: 500px;
        padding: 0 20px;

        .breakfast-container {
          display: flex;
          padding-bottom: 20px;

          .foodImg {
            cursor: pointer;
            margin-right: 20px;
          }

          .description {
            display: flex;
            flex-direction: column;

            p {
              padding-top: 8px;
              font-style: italic;
              font-family: $nanum-bold;
              font-size: 15px;
              cursor: pointer;
            }

            .price-container {
              display: flex;
              border-bottom: 1px solid rgb(205, 200, 200);
              padding-bottom: 8px;
              align-items: center;

              h2 {
                font-size: 15px;
                font-weight: bold;
                //font-family: $freeman-regular;
                font-family: $nanum-regular;
                letter-spacing: 0.8px;
                cursor: pointer;
              }

              span {
                margin-left: auto;
                color: $color-red;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .product-menu {
      h3 {
        display: flex;
        //font-family: $courgette-regular;
        font-weight: bold;
        font-size: 25px;
        color: $color-red;
        justify-content: center;
        cursor: pointer;
        max-width: 40%;
        margin: auto;

        &:before,
        &:after {
          content: "";
          flex: 1 1;
          width: 300px;
          height: 2px;
          background-color: $color-red;
          margin: auto;
        }

        &:before {
          margin-right: 8px;
        }

        &:after {
          margin-left: 8px;
        }
      }


      .second-heading {
        font-size: 35px;
        color: $color-black;
        text-align: center;
        //font-family: $freeman-regular;
        font-family: $nanum-regular;
        padding-top: 20px;
        cursor: pointer;
      }

      .food-list {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        .food-type {
          display: flex;
          padding-bottom: 20px;

          .icon-img {
            cursor: pointer;
            margin: 0 5px;
          }

          .food {
            display: flex;
            flex-direction: column;
            //font-family: $freeman-regular;
            font-family: $nanum-regular;
            cursor: pointer;

            .food-item {
              padding-top: 5px;
              padding-bottom: 5px;
              color: $color-gray;
            }

            .typeOfFood {
              font-weight: bold;
              color: $color-black;
            }
          }
        }
      }

    }
  }

  .marija {
    .healthy-food-menu {
      font-family: Arial, sans-serif;
      color: #333;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;

      .menu-header {
        text-align: center;
        margin-bottom: 20px;

        h3 {
          margin: 0;
          font-size: 24px;
        }

        h2 {
          margin: 5px 0 0;
          font-size: 28px;
        }
      }

      .food-categories {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .category {
          text-align: center;

          h4 {
            margin: 10px 0 0;
            font-size: 18px;
          }
        }
      }

      .food-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;

        .food-item {
          display: flex;
          align-items: center;
          width: 45%;
          background-color: #f9f9f9;
          padding: 10px;
          border-radius: 8px;

          .item-details {
            margin-left: 10px;

            h3 {
              margin: 0;
              font-size: 18px;
            }

            .price {
              font-size: 16px;
              color: #888;
            }

            p {
              margin: 5px 0 0;
              font-size: 14px;
              color: #666;
            }
          }
        }
      }
    }
  }

  .todor {
    .fastfood-container {
      font-family: $nanum-regular;
      color: #333;
      // margin: 250px;
      padding: 15px;
      background-color: #bdb76b;
      background-size: cover;

      h1 {
        font-family: $nanum-bold;
        font-size: 20px;
      }

      .menu-content {
        text-align: center;
        padding-top: 20px;

        h1 {
          width: 400px;
          height: 400px;
          font-family: $nanum-bold;
          text-align: center;

        }
      }

      .span {
        font-family: $nanum-extra-bold;
        font-size: 30px;
      }

      .menu-img {
        align-items: center;
        margin: 0px;
      }


      .menu-item {
        text-align: center;
        font-size: 15px;
        max-width: 1200px;
        padding-top: 20px;

      }


      .menu-Zubehör {
        text-align: center;
        padding: 10px 0;
        letter-spacing: 0.8px;
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 15px;

      }


    }
  }


  //Delivery
  .delivery {
    &-title {
      font-family: $nanum-extra-bold;
      font-size: 20px;
      text-transform: uppercase;
      tab-size: 4;
      letter-spacing: 0.75px;
      margin: 40px auto;
      text-align: center;
      margin-bottom: 10px;


      h3 {
        &:after {
          content: "";
          display: block;
          width: 80%;
          height: 2px;
          border-radius: 30px;
          margin: 5px auto;
          background-color: $color-red;
        }
      }
    }

    &-inner {
      display: flex;
      padding: 20px;
      justify-content: center;
      background-color: $color-black;
      color: $color-white;

      .delivery-options {
        margin: 0 15%;
        width: 30%;

        &-item {
          width: 100%;

          .delivery-option-title {
            display: flex;
            font-family: $nanum-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;


            .delivery-option-btn {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 15px;

              &:after {
                content: "|";
                position: absolute;
                left: -3.5px;
                height: 0;
                overflow: hidden;
                transition: height 0.5s ease-in-out;
              }

              &:before {
                content: "|";
                position: absolute;
                transform: rotate(90deg);
                margin: auto;

              }
            }
          }

          .checkbox-list {
            margin: 10px 0;
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease-in-out;

            .options-checkbox {
              margin: 5px 0;
              text-transform: capitalize;
              font-family: $nanum-bold;
              position: relative;
              display: flex;
              cursor: pointer;
              align-items: center;

              .checkbox {
                height: 16px;
                width: 16px;
                z-index: 15;
                display: block;
                appearance: none;
                cursor: pointer;

              }

              .box-icon {
                border: 2px solid $color-white;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: black;
                display: block;
                position: absolute;
                left: 2px;
              }

              .checkbox-label {
                cursor: pointer;
              }

              input[type="radio"] {
                appearance: none;

                &:checked {
                  ~.checkbox-label {
                    color: $color-red;
                  }

                  ~.box-icon {
                    background-color: $color-red;
                    background-image: url(../images/checkbox-chexked.svg);
                    border: 0;
                  }
                }


              }
            }
          }

          .js-delivery-option-title {
            .delivery-option-btn {

              &:after {
                transition: height 0.5s ease-in-out;
                height: 16px;
              }
            }
          }

          .js-checkbox-list {
            height: 80px;
            transition: height 0.5s ease-in-out;
          }
        }
      }
    }

    .cart {
      display: block;
      background-color: $color-black;
      line-height: normal;
      padding: 20px;

      &-btn {
        display: block;
        background-color: transparent;
        color: $color-red;
        border-radius: 10px;
        font-family: $nanum-extra-bold;
        font-size: 16px;
        border: 1px solid $color-red;
        padding: 5px 30px;
        text-transform: uppercase;
        width: fit-content;
        margin: 10px auto;
        cursor: pointer;
        margin-top: 0;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: $color-white;
          background-color: $color-red;
          transition: all 0.5s ease-in-out;
        }
      }

    }
  }

  //About
  .about {
    h3 {
      font-family: $nanum-extra-bold;
      font-size: 20px;
      text-transform: uppercase;
      tab-size: 4;
      letter-spacing: 0.75px;
      margin: 40px auto;
      text-align: center;
      margin-bottom: 10px;

      &:after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        border-radius: 30px;
        margin: 5px auto;
        background-color: $color-red;
      }
    }

    &-info {
      max-width: 80%;
      margin: 15px auto;
      text-align: center;
      font-family: $nanum-bold;
    }

    &-facts {
      max-width: 80%;
      margin: 30px auto;

      &-inner {
        display: flex;
        justify-content: space-between;

        .about-facts-item {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 150px;
            height: auto;
            filter: brightness(0) saturate(100%) invert(9%) sepia(50%) saturate(7086%) hue-rotate(341deg) brightness(151%) contrast(109%);
          }

          span {
            font-family: $nanum-extra-bold;
            font-size: 20px;
            margin-top: 15px;
            text-transform: uppercase;
            width: 150px;
            text-align: center;
            line-height: 25px;
          }
        }
      }
    }
  }


}

//Footer
footer {
  background-color: $color-black;
  color: $color-white;
  font-family: $nanum-regular;
  font-size: 16px;
  padding: 30px 0;
  background-image: url(../images/gastro-logo-short.svg);
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: bottom left;

  .footer-inner {
    max-width: 80%;
    margin: 10px auto;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 15px;

      .footer-item {
        h3 {
          font-family: $nanum-extra-bold;
          font-size: 18px;
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }

        &-info {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            justify-content: space-between;
          }

          span {
            padding-bottom: 5px;
            display: block;

            &:nth-of-type(2) {
              text-align: right;
              margin-left: 15px;
            }
          }

          &.footer-location {
            span {
              &:nth-of-type(2) {
                margin-left: 0;
              }
            }
          }
        }


      }
    }

    &-bottom {
      display: flex;
      padding: 15px;
      justify-content: space-between;

      a {
        color: $color-white;
        font-family: $nanum-regular;
        font-size: 16px;
        border-bottom: 1px solid transparent;
        transition: border-color 0.5s linear;
        transition: color 0.5s linear;
        padding-bottom: 3px;

        &:not(:last-of-type) {
          margin-right: 15px;
        }

        &:hover {
          color: $color-red;
          border-color: $color-red;
          transition: border-color 0.5s linear;
          transition: color 0.5s linear;
        }
      }

    }
  }
}